<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript"

            src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: white">

<div class="container" style="max-width: 800px;margin-top: 140px">
    <form>

        <div class="form-group"   >
            <h1 class="bd-title" id="content" style=" text-align:center;font-family:'Arial Black'"><strong>能力规范文稿管理系统</strong></h1>
            <div style="float:right; text-align:right"><button type = "#"> <a href = "http://localhost:8080/query" >返回</a> </button></div>
            <br>
        </div>
        <hr/>
        <div class="container" style="text-align:center">
            <table margin="auto" class="table table-bordered">
                <tr>

                    <th >写者</th>
                    <th>管理者</th>
                </tr>
            </table>
        </div>



        <div class="card" style="width: 800px;">
            <div class="card-body">
                <h5 class="card-title">入会申请表</h5>
                <form action="/checkApply" method="post">
                <table class="table">
                    <tr>
                        <th>姓名</th>
                        <td th:text="${name}"></td>
                    </tr>
                    <tr>
                        <th>性别</th>
                        <td th:text="${gender}"></td>
                    </tr>
                    <tr>
                        <th>出生日期</th>
                        <td th:text="${birthday}"></td>
                    </tr>
                    <tr>
                        <th>家庭住址</th>
                        <td th:text="${address}"></td>
                    </tr>
                    <tr>
                        <th>联系方式</th>
                        <td th:text="${conWay}"></td>
                    </tr>
                    <tr>
                        <th>推荐人</th>
                        <td th:text="${referrer}"></td>
                    </tr>
                    <tr>
                        <th>申请会名</th>
                        <td th:text="${assoName}"></td>
                    </tr>

                </table>
                </form>
            </div>
        </div>

        <div class="card" style="width: 800px;">
            <div class="card-body">
                <h5 class="card-title">会员推荐表</h5>
                <table class="table">
                    <tr>
                        <th>姓名</th>
                        <td>张三</td>
                    </tr>
                    <tr>
                        <th>单位</th>
                        <td>xx</td>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <td>abcdefghijk</td>
                    </tr>
                    <tr>
                        <th>被推荐人</th>
                        <td>张三</td>
                    </tr>
                    <tr>
                        <th>职务</th>
                        <td>xxxxxxxxx</td>
                    </tr>
                    <tr>
                        <th>邮箱</th>
                        <td>xxxxx</td>
                    </tr>
                    <tr>
                        <th>推荐原因</th>
                        <td>xxxxxxxxx</td>
                    </tr>

                </table>

            </div>
        </div>
        <div style = "text-align:right;">
            <br>
            <input type = "button" class="btn btn-default"value = "同意" />
            <input type = "button" class="btn btn-default"value = "拒绝" />
        </div>

    </form>

</div></body>
</html>