<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<head>
    <title>Sample</title>
</head>
<body>
<div class = "main container-fluid" >
    <h1 th:inline="text">能力规范文稿管理系统</h1>
    <h2> 写者&emsp;&emsp;|&emsp;&emsp;管理</h2> <br/>
    <p style = "font-size: 30px">提案编制</p> <br/>
        <form action = "#">
            提案名称<input type = "text" > <br/> <br/>
            提案内容<input type = "text"  placeholder = "在此输入提案内容"> <br/> <br/>
            <label><input type="radio" name="#">我已阅读提案建议要求</label>
            <button class = "btn-info " type = "submit"> 提交 </button> &emsp;
            <button class = "btn-info " type = "submit"> 保存 </button> &emsp;
            <button class = "btn-info " type = "submit"> 打印 </button> <br/>
        </form>
        <form action = "#">
            <table width = "100%"  border="1" class = "dataintable">
                <tr>
                    <th><label><input type="checkbox" name="#"> 全选</label></th>
                    <th>提案ID</th>
                    <th>提案名称</th>
                    <th>提交时间</th>
                    <th>提案状态</th>
                </tr>
                <tr>
                    <td><label><input type="checkbox" name="#"></label></td>
                    <td>1</td>
                    <td>xxxxxxxxxxx</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <br/> <br/>
            <button class = "btn-info " type = "#"> 打印 </button> &emsp;
            <button class = "btn-danger" type = "#"> 撤销 </button> <br/> <br/>
            <a href = "http://localhost:8080/query" >返回</a>
        </form>

</div>
</body>
</html>