<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<head>
    <title>Sample</title>
</head>
<body>
<div class = "main container-fluid" >
    <h1 th:inline="text">能力规范文稿管理系统</h1>
    <h2> 写者&emsp;&emsp;|&emsp;&emsp;管理</h2> <br/>
    <p style = "font-size: 30px">提案详情</p> <br/>
        <table width = "100%" border = "1" >
            <tr>
                <th>编号</th>
                <th>提案名称</th>
                <th>作者</th>
                <th>截止日期</th>
            </tr>
            <tr>
                <td th:text="${proposal.getId()}"></td>
                <td th:text="${proposal.getProName()}"></td>
                <td th:text="${proposal.getProWriter()}"></td>
                <td th:text="${proposal.getDeadline()}"></td>
            </tr>
        </table> <br/>
    <table width = "100%" border="1">
        <tr>
            <th style = "font-size: 30px">提案内容</th>
            <th th:text="${proposal.getContent()}"></th>
        </tr>
    </table>
    <br/> <br/>
        <form th:action = "@{/comment/insert(id=${proposal.getId()})}" th:method="get">
            我要评论：<input type = "text" th:field="*{comment}"> <br/> <br/>
            <label><input type="radio" name="#"> 附议</label>
            <label><input type = "radio" name = "#"> 反对</label>
            <button class = "btn-info " type = "submit"> 提交 </button>
        </form>
        <h3>评论区</h3>
        <table width = "100%" border="1" class = "dataintable">
            <tr>
                <th>评论人</th>
                <th>评论内容</th>
                <th>评论时间</th>
            </tr>
            <tr th:each="c,iterStat : ${comments}" th:class="${iterStat.odd}? 'odd'">
                <td th:text="${c.getName()}"></td>
                <td th:text="${c.getComment()}"></td>
                <td th:text="${c.getTime()}"></td>
            </tr>
        </table> <br/>
        <button type = "#"> <a href = "http://localhost:8080/query" >返回</a> </button>
</div>
</body>
</html>