<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<head>
    <title>Sample</title>
</head>
<body>
<div class = "main container-fluid" >
    <h1 th:inline="text">能力规范文稿管理系统</h1>
    <h2> 写者&emsp;&emsp;|&emsp;&emsp;管理</h2> <br/>
    <p style = "font-size: 30px">提案详情</p> <br/>
        <table width = "100%" border = "1" >
            <tr>
                <td>提案ID        </td>
                <td>提案名称        </td>
            </tr>
            <tr>
                <td>提案作者        </td>
                <td>截止日期        </td>
            </tr>
        </table>
        <p>提案内容          </p> <br/>
        <form action = "#">
            <input type = "text" > <br/>
            <label><input type="radio" name="#"> 附议</label>
            <label><input type = "radio" name = "#"> 反对</label>
            <button class = "btn-info " type = "submit"> 提交 </button>
        </form>
        <h3>评论区</h3>
        <table width = "100%" border="1" class = "dataintable">
            <tr>
                <th>评论人</th>
                <th>评论内容</th>
                <th>评论时间</th>
            </tr>
            <tr>
                <td>xxxx</td>
                <td>xx</td>
                <td></td>
            </tr>
            <tr>
                <td>xx</td>
                <td>xxx</td>
                <td></td>
            </tr>
        </table> <br/>
        <button type = "#"> <a href = "http://localhost:8080/query" >返回</a> </button>
</div>
</body>
</html>