<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript"

            src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>

<head>
    <title>Sample</title>
</head>
<body style="background: white">
<div class = "main container-fluid" style="max-width: 800px;margin-top: 140px">
    <nav class="navbar navbar-light bg-light">
        <h1 class="bd-title" id="content"style=" text-align:center;">能力规范文稿管理系统</h1>
    </nav>
    <form th:action = "@{/login/verify}" th:method="get" th:object="${user}"class="form-inline">
        <p style="color: red" th:text="${message}"></p> <br/>
        <strong>用户名</strong>&emsp; <input type="text" class="form-control mr-sm-2"  th:field="*{userName}" placeholder = "必填" required> <br/> <br/>
        <strong>密码 </strong>&emsp;<input  type="password" class="form-control mr-sm-2" th:field="*{passWord}" placeholder = "必填" required> <br/> <br/>
        <button btn-primary type = "submit">登录</button>

    <p>&emsp;还没有账号？<a href="http://localhost:8080/signup" class="btn btn-outline-success my-2 my-sm-0" type="submit">注册</a></form>
    <div class=" container" style="max-width: 850px">
        <br>
        <div class="card">
            <div class="card-header">
               规范列表
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li  class="list-group-item"><a href="https://max.book118.com/html/2017/0610/113221811.shtm">关于草案评审的用户规范<a class="float-right">2018-6-1</a></a></li>
                    <li class="list-group-item">关于草案评审的用户规范<a class="float-right">2018-6-1</a></li>
                    <li class="list-group-item">关于草案评审的用户规范<a class="float-right">2018-6-1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>