<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    p {font-size: 16px;}
</style>
<head>
    <title>Sample</title>
</head>
<body>
<div class = "main container-fluid" >
    <h1>请登录</h1>
    <form action = "#">
        用户名 <input type = "text" placeholder = "必填" required> <br/> <br/>
        密码 <input type = "text" placeholder = "必填" required> <br/> <br/>
        <button btn-primary type = "submit"> <a href = "http://localhost:8080/query">登陆</a> </button>
    </form>
    <p>还没有账号？<a href = "http://localhost:8080/signup" >点此</a>注册</p> <br/>
    <h2>规范列表</h2> <br/>
        <p style = "color: blue">关于草案评审的工作规范………………………………………………2017/06/01</p>
        <p>管理系统申请自个规范……………………………………………………2017/05/30</p>
</div>
</body>
</html>