<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<head>
    <title>Sample</title>
</head>
<body>
<div class = "main container-fluid" >
    <h1 th:inline="text">能力规范文稿管理系统</h1>
    <h2> 写者&emsp;&emsp;|&emsp;&emsp;管理</h2> <br/>
    <p style = "font-size: 30px">信息维护</p> <br/>
        <table  width = "100%" border="1">
            <tr>
                <th>姓名</th>
                <th>单位</th>
                <th>电话</th>
                <th>职称</th>
                <th>职务</th>
                <th>邮箱</th>
            </tr>
            <tr th:each="r,iterStat : ${referrers}" th:class="${iterStat.odd}? 'odd'">
                <td th:text="${r.getName()}"></td>
                <td th:text="${r.getCompany()}"></td>
                <td th:text="${r.getPhone()}"></td>
                <td th:text="${r.getJobTitle()}"></td>
                <td th:text="${r.getPosition()}"></td>
                <td th:text="${r.getEmail()}"></td>
            </tr>
        </table> <br/>
        <a href = "http://localhost:8080/query" >返回</a>
</div>
</body>
</html>