<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<div class = "main container-fluid" >
        <head>
         <script type="text/javascript"

            src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
         <script type="text/javascript">
        //checkbox 全选/取消全选
        var isCheckAll = false;
        function swapCheck() {
            if (isCheckAll) {
                $("input[type='checkbox']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }}
       </script>
       <meta charset="UTF-8">
       <title>Sample</title>
       </head>
       <p>

        <h1 th:inline="text">能力规范文稿管理系统</h1> <br/>
        <table>
        <tr>
            <th>用户： </th>
            <th th:text="${user.name}"></th>
            <th>&emsp;&emsp;</th>
            <th><a href = "http://localhost:8080/Login" >注销</a></th>
        </tr>
       </table>
    <!--<h3>用户：<div th:text="${user.name}"></div><a href = "http://localhost:8080/Login" >注销</a></h3>-->
        <h2> 写者&emsp;&emsp;|&emsp;&emsp;管理</h2> <br/>
        <p style = "font-size: 30px">提案列表</p> <br/>
        <table width = "100%" border="1">
            <tr>
                <th><input type="checkbox" onclick="swapCheck()"name="choose" value="choose?" />全选</th>
                <th>编号</th>
                <th>提案名称</th>
                <th>作者</th>
                <th>截止日期</th>
                <th>状态</th>
                <th>附议数</th>
                <th>反对数</th>
            </tr>
            <tr th:each="p,iterStat : ${proposals}" th:class="${iterStat.odd}? 'odd'">
                <td><input type="checkbox" name="choose" value="choose?" /></td>
                <td th:text="${p.getId()}"></td>
                <td><a th:text="${p.getProName()}" th:href="@{/details(id=${p.getId()})}"></a></td>
                <td th:text="${p.getProWriter()}"></td>
                <td th:text="${p.getDeadline()}"></td>
                <td th:text="${p.getStatus()}"></td>
                <td th:text="${p.getAgree()}"></td>
                <td th:text="${p.getOppose()}"></td>
            </tr>
        </table>
        <form action = "#">
            <br/> <br/>
            <button class = "btn-primary" type = "submit"onclick="window.print()"> 打印 </button>
            <button class = "btn-danger" type="reset"> 撤销 </button> <br/> <br/>
            <a href = "http://localhost:8080/compile" >提案编制</a> <br/> <br/>
            <a href = "http://localhost:8080/maintain" >信息维护</a><br/> <br/>
            <a style="color: orange" href = "http://localhost:8080/approve" >提案审批（专委会）</a><br/> <br/>
            <a style="color: orange" href = "http://localhost:8080/approve2" >提案审批（行业分会）</a><br/> <br/>
            <a style="color: orange" href = "http://localhost:8080/roleControl"> 身份管理</a>
        </form>
</div>

</body>
</html>