<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript"

            src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        //checkbox 全选/取消全选
        var isCheckAll = false;
        function swapCheck() {
            if (isCheckAll) {
                $("input[type='checkbox']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }}

    </script>
    <meta charset="UTF-8">
    <title>wojiubuxinle</title>

</head>

<body style="background: white">






<div class="container" style="max-width: 800px;margin-top: 140px">
    <!--<form>-->

        <div class="form-group" >
            <h1 class="bd-title" id="content"style=" text-align:center;">能力规范文稿管理系统</h1>
            <div style="float:right; text-align:right"><button type = "#"> <a href = "http://localhost:8080/query" >返回</a> </button></div>
            <br>
        </div>
        <hr/>
        <div class="container"style="text-align:center">
            <table margin="auto" class="table table-bordered">
                <tr>

                    <th >写者</th>
                    <th>管理者</th>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <p> <div class="panel-heading">身份管理</div></p>
            <div class="panel-body">
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table">
                        <div class="input-group">

                            <button class="btn btn-default" type="button">查询</button>
                            <span class="input-group-btn">
        <input type="text" class="form-control" style="max-width: 680px"placeholder="输入姓名" >
      </span>

                        </div><!-- /input-group -->

                        <thead>
                        <tr>
                            <th><input type="checkbox" onclick="swapCheck()"name="choose" value="choose?" />
                                全选</th>
                            <th>姓名</th>
                            <th>申请信息和推荐表</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u,iterStat : ${users}" th:class="${iterStat.odd}? 'odd'">
                            <td><input type="checkbox" name="choose" value="choose?" /></td>
                            <td th:text="${u.getName()}"></td>
                            <td><a th:href="@{/checkApply(username=${u.getUserName()})}">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style = "text-align:right;">
                    <button btn-primary type = "submit">同意</button>
                    <button class = "btn-info " type = "submit"> 拒绝</button>
                </div>
            </div>
        </div>



    <!--</form>-->
</div>
</body>
</html>