<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script>
    $(document).ready(function() {
        $("button").addClass("animated bounce");
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .main{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 800px;
        height: 500px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<head>
    <title>Sample</title>
</head>
<body>
<div class = "main container-fluid" >
    <!-- <img class = "img-responsive" src = "sample/src/images/rocket.PNG"> -->
    <h1 th:inline="text">能力规范文稿管理系统</h1>
    <h2 class = "text-center"> 入会申请</h2>
        <form th:action = "@{/user/insert}" th:method="get" th:object="${user}">
            用户名 <input type = "text" th:field="*{userName}" placeholder = "必填" required> <br/> <br/>
            密码 <input type = "password" th:field="*{passWord}" placeholder = "必填" required> <br/> <br/>
            姓名 <input type = "text" th:field="*{name}" placeholder = "必填" required> <br/> <br/>
            性别 <input type = "text" th:field="*{gender}" placeholder = "必填" required> <br/> <br/>
            出生日期 <input type = "text" th:field="*{birthday}" placeholder = "必填,六位数字" required> <br/> <br/>
            家庭住址<input type = "text" th:field="*{address}" > <br/> <br/>
            联系方式<input type = "text" th:field="*{conWay}" placeholder = "必填" required> <br/> <br/>
            推荐人<input type = "text" th:field="*{referrer}" > <br/> <br/>
            会名 <select th:field="*{assoName}">
            <option value="行业分会">行业分会</option>
            <option value="专委会">专委会</option>
            <option value="研究会">研究会</option>
        </select> <br/> <br/>
            <p style="color: deepskyblue" th:text="${message}"></p> <br/>
            <button  class = "btn-info " type = "submit"> 提交 </button>  <br/>
        </form>
        <p>已有账户？<a href = "http://localhost:8080/Login" >点此</a>登陆</p>
</div>
</body>
</html>